{% extends "feedback/home.html" %}
{% load static %}
{% load i18n %}
{% load feedback_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% translate "Home" %} - {% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container infinite-container" id="main" style="width: auto;">
    <h3>{% translate "Feedbacks by Everyone" %}</h3>
    <div>
        {% for detail in details %}
        <div class="card shadow-sm m-3">
            <div class="card-body">
                <h6 class="card-subtitle text-body-secondary float-end mt-1">
                    {{ detail.feedbackDate }}
                </h6>
                <h5 class="card-title">
                    {% if not detail.submittedBy or detail.submittedBy.first_name == '' %}
                    {% translate 'Someone' %}
                    {% else %}
                    {{ detail.submittedBy.first_name }} {{ detail.submittedBy.last_name }}
                    {% if request.user|has_group:"policeStaff" %}*{% endif %}
                    {% endif %}
                    <span class="text-body-secondary">
                        {% if "en" == LANGUAGE_CODE or "en" == request.COOKIES.django_language %}
                        felt
                        {% if detail.experience is 1 %}
                        {% translate 'Very Bad' %}
                        {% elif detail.experience is 2 %}
                        {% translate 'Bad' %}
                        {% elif detail.experience is 3 %}
                        {% translate 'Neutral' %}
                        {% elif detail.experience is 4 %}
                        {% translate 'Good' %}
                        {% elif detail.experience is 5 %}
                        {% translate 'Very Good' %}
                        {% endif %}
                        {% endif %}
                        {% if "hi" == LANGUAGE_CODE or "hi" == request.COOKIES.django_language %}
                        ने
                        {% if detail.experience is 1 %}
                        {% translate 'Very Bad' %}
                        {% elif detail.experience is 2 %}
                        {% translate 'Bad' %}
                        {% elif detail.experience is 3 %}
                        {% translate 'Neutral' %}
                        {% elif detail.experience is 4 %}
                        {% translate 'Good' %}
                        {% elif detail.experience is 5 %}
                        {% translate 'Very Good' %}
                        {% endif %}
                        महसूस किया
                        {% endif %}
                    </span>
                </h5>
                <h6 class="card-subtitle text-body-tertiary mb-2">
                    {{ detail.forStation }}
                </h6>
                <p class="card-text">{{ detail.description }}</p>
                <!-- <button class="btn card-link">Like</button> --> <!-- Can be Implemented Later -->
                <!-- <button class="btn card-link">Dislike</button> -->
            </div>
        </div>
        {% empty %}
        <p>Error 404 - Not Found</p>
        {% endfor %}
    </div>

    {% if details.has_next %}
    <a class="infinite-more-link" href="?page={{ details.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div>
</div>

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        }
    });
</script>
{% endblock %}