{% spaceless %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{% if request.COOKIES.django_language %}{{ request.COOKIES.django_language }}{% else %}{{ LANGUAGE_CODE }}{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/rp_logo.png' %}">
    <title>{% block title %}{% translate "Home" %} - {% endblock %}{% translate "Police Feedback System" %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body style="background-color: ghostwhite">
    <div class="position-fixed bottom-0 end-0 mb-3 me-3 bg-dark shadow rounded-5">
      <a class="btn btn-bd-primary py-2 d-flex align-items-center" role="button" href="{% url 'chatIndex' %}">
        <svg class="bi my-1 theme-icon-active text-white" width="2em" height="2em" viewBox="0 0 20 20">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.518 7.5H13v-1h3.523A1.99 1.99 0 0118.5 8.477v8.689a1.309 1.309 0 01-2.232.95l-.013-.014-1.863-2.142H8.48a1.98 1.98 0 01-1.98-1.953V10.5h1v3.496a.98.98 0 00.98.964h6.368l2.134 2.455a.31.31 0 00.518-.236V8.482a.99.99 0 00-.982-.982z" fill="currentColor"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.525 1.5h7.995a1.98 1.98 0 011.98 2.003V9a1.98 1.98 0 01-1.98 1.98H5.608l-1.863 2.142-.013.013a1.31 1.31 0 01-2.232-.949V3.502M11.52 2.5H3.51a.99.99 0 00-1.01.997v8.702a.31.31 0 00.518.236L5.152 9.98h6.368A.98.98 0 0012.5 9V3.493a.978.978 0 00-.98-.993z" fill="currentColor"></path>
        </svg>
        <span class="visually-hidden">Start Chat</span>
      </a>
    </div>
    {% block header %}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="{{ request.path|urlencode }}" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img class="bi" src="{% static 'img/rp_logo.png' %}" width="32" height="32" role="img" aria-label="Rajasthan Police" />
            </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'siteIndex' %}" class="nav-link px-2">{% translate "Home" %}</a></li>
            <li><a href="{% url 'feedbackIndex' %}" class="nav-link px-2">{% translate "Feedback" %}</a></li>
            <li><a href="{% url 'accessIndex' %}" class="nav-link px-2">{% translate "Staff Dashboard" %}</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
            <span class="me-2">{{ user.first_name }}</span>
            <a class="btn btn-outline-primary me-2" href="{% url 'siteLogout' %}?next={{ request.path|urlencode }}" role="button">{% translate "Log Out" %}</a>
            {% else %}
            <a class="btn btn-outline-primary me-2" href="{% url 'siteLogin' %}?next={{ request.path|urlencode }}" role="button">{% translate "Login" %}</a>
            <a class="btn btn-primary me-2" href="{% url 'siteSignup' %}" role="button">{% translate "Sign Up" %}</a>
            {% endif %}
            <form class="d-inline-block" action="{% url 'set_language' %}?next={{ request.get_full_path }}" method="post">{% csrf_token %}
                <select class="form-select" name="language" aria-label="Select Language" onchange="this.form.submit()">
                    <option value="hi"{% if "hi" == LANGUAGE_CODE or "hi" == request.COOKIES.django_language %} selected{% endif %}>हिन्दी</option>
                    <option value="en"{% if "en" == LANGUAGE_CODE or "en" == request.COOKIES.django_language %} selected{% endif %}>English</option>
                </select>
            </form>
          </div>
        </header>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>
{% endspaceless %}