{% extends 'base/home.html' %}

{% load i18n %}

{% block content %}
<h1>{% translate "Login" %}</h1>
<form method="post">{% csrf_token %}
    <label for="inputPhone">{% translate "Phone Number" %}</label>
    <input type="number" class="form-control" id="inputPhone" name="phone" minlength="10" maxlength="10" min="1111111111" max="9999999999" required><br>
    <label for="inputPassword">{% translate "Password" %}</label>
    <input type="password" id="inputPassword" name="password" required><br>
    {% if error %}
    <p>{% translate "Invalid" %} {% translate "Phone Number" %}/{% translate "Password" %}</p>
    {% endif %}
    <p>
    <a href="{% url 'siteSignup' %}?next={{ request.get_full_path }}">{% translate "New User?" %}</a><br>
    <a href="#">{% translate "Forgot your Password?" %}</a>
    </p>
    <button type="submit">{% translate "Login" %}</button>
</form>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Login Form - Code Mo</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="box box-one">
            <i class="fab fa-twitter"><img src="https://img.icons8.com/color/50/000000/twitter--v1.png"/></i>
            <button>
                <img src="google.png" width="19">
                <span>Sign in with Google</span>
            </button>
            <button>
                <img src="apple.png" width="19">
                <span>Sign in with Apple</span>
            </button>
        </div>
        <h5>Or</h5>
        <div class="box box-two">
            <form>
                <input type="text" placeholder="Phone,email, or username"/>
            </form>
            <button class="next-btn">Next</button>
            <button>Forget password</button>
        </div>
        <p>Don't have an account <a href="#">Sign Up</a></p>
    </div>
</body>
</html>