{% extends 'base/home.html' %}
{% load static %}
{% load i18n %}

{% block title%}{% translate "Login" %} - {% endblock %}

{% block content %}
<div class="container border rounded-5 shadow" style="max-width: 540px; background-color: white;">
    <form class="p-5 text-center" method="post">{% csrf_token %}
        <img class="mb-3" src="{% static 'img/rp_logo.png' %}" width="72" height="72"/>
        <h3 class="mb-3">{% translate "Login" %}</h3>
        <div class="row mb-3">
            <label for="inputPhone" class="form-label">{% translate "Phone Number" %}</label>
            <input class="form-control" type="number" id="inputPhone" name="phone" minlength="10" maxlength="10" min="1111111111" max="9999999999" required>
        </div>
        <div class="row mb-3">
            <label for="inputPassword" class="form-label">{% translate "Password" %}</label>
            <input class="form-control" type="password" id="inputPassword" name="password" required>
        </div>
        {% if error %}
        <p>{% translate "Invalid" %} {% translate "Phone Number" %}/{% translate "Password" %}</p>
        {% endif %}
        <button class="btn text-bg-dark text-white rounded-pill col-12 mb-3" type="submit">{% translate "Login" %}</button>
        <a class="btn border rounded-pill col-12 mb-3" href="#" role="button">{% translate "Forgot your Password?" %}</a>
        <a href="{% url 'siteSignup' %}?next={{ request.get_full_path }}">{% translate "New User?" %}</a>
    </form>
</div>
{% endblock %}